eln-cache
url
straight
auto-save-list
transient
elpaca
amx-items
history
places
recentf
tutorial
eshell
elpa
custom.el
projectile-bookmarks.eld
server
snippets
site-lisp
.cache/treemacs-persist
.cache/treemacs-persist~
.cache/lsp
.lsp-session-v1
blink-search
blink-search.db
nov-places
*.el
/elisp-autofmt-cache/
